.form {
  max-width: 420px;
  margin: 0 auto;


  &-text {
    padding-left: 25px;
    margin-bottom: 5px;
    color: $white;
  }

  &__input {
    width: 100%;
    margin-bottom: 30px;
    font: 400 21px / 24px var(--font);
    height: 75px;
    border: 1px solid #9C9C9C;
    outline: 1px solid transparent;
    border-radius: 40px;
    padding: 0 25px;

    &::placeholder {
      font: 400 21px / 24px var(--font);
      color: #a9a9a9;
    }
  }

  &__input[name=phone] {
    margin-bottom: 40px;
  }

  &__btn {
    width: 310px;
    color: $white;
    padding: 25px 0;
    text-align: center;
    font: 700 30px/30px var(--font);
    background: linear-gradient(180deg, #FF5C00 0%, #CD5600 100%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 0 auto;
    transition: all .3s ease-in-out;
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }
}