.kit-create {
  &__present {
    margin-bottom: 30px;

    &-arrows {
      width: 140px;
      height: 130px;
      top: 28%;
      left: 33%;
      position: absolute;
    }
  }

  &__descr {
    padding: 20px;
    color: $white;
    font: 400 20px/24px var(--font);
    margin-bottom: 35px;
  }

  &__info {
    margin-bottom: 30px;
    padding: 0 20px;

    &-text {
      font: 400 20px/24px var(--font);
      color: $white;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.arrow-1 {
  width: 114px;
  height: 60px;
  fill-opacity: 1;
  bottom: 32px;
  left: 3px;
  transform: rotate(14deg);
  fill: #FF005C;
  animation: animArr-1 4s cubic-bezier(0.94, 0, 0.53, 1) infinite;
}

.arrow-2 {
  width: 91px;
  height: 80px;
  fill: #FF005C;
  fill-opacity: 1;
  bottom: 20px;
  left: 20px;
}

.arrow-3 {
  width: 75px;
  height: 85px;
  fill: #FF005C;
  fill-opacity: 1;
  bottom: 20px;
  left: 20px;
  animation: animArr-3 4s cubic-bezier(0.94, 0, 0.53, 1) infinite;
}

@keyframes animArr-1 {
  0% {
    fill-opacity: 0;
    bottom: 32px;
    left: 3px;
    transform: rotate(14deg);
  }

  100% {
    fill-opacity: 1;
    bottom: 10px;
    left: -10px;
    transform: rotate(0deg);
  }
}

@keyframes animArr-3 {
  0% {
    fill-opacity: 0;
    bottom: 20px;
    left: 20px;
    transform: rotate(0deg);
  }

  100% {
    fill-opacity: 1;
    bottom: 40px;
    left: 54px;
    transform: rotate(18deg);
  }
}

@media (max-width: 420px) {
  .kit-create__present-arrows {
    top: 25%;
    left: 28%;
  }
}
@media (max-width:390px) {
  .kit-create__present-arrows {
    top: 23%;
    left: 26%;
}
}
@media (max-width: 361px) {
  .kit-create__present-arrows {
    top: 25%;
    left: 25%;
    transform: scale(0.8);
  }
}
@media (max-width:321px) {
  .kit-create__present-arrows {
    top: 20%;
    left: 24%;
  }
}